<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nuomifans.gsxd"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0.0" >

  <supports-screens
      android:anyDensity="true"
      android:largeScreens="true"
      android:normalScreens="true"
      android:smallScreens="true"
      android:xlargeScreens="true" />

  <application
      android:banner="@drawable/app_banner"
      android:debuggable="false"
      android:icon="@drawable/app_icon"
      android:isGame="true"
      android:label="@string/app_name"
      android:theme="@style/UnityThemeSelector" >
    <activity
        android:name=".UnityPlayerActivity"
        android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:screenOrientation="sensorPortrait" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>

      <meta-data
          android:name="unityplayer.UnityActivity"
          android:value="true" />
    </activity>

    <service
          android:name="${applicationId}.service.DownloadService"
          android:exported="true" />

    <!-- SigMob -->
    <provider
        android:name="com.sigmob.sdk.SigmobFileProvider"
        android:authorities="${applicationId}.sigprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/sigmob_provider_paths"/>
    </provider>
    <!-- Shenqiad -->
    <provider
        android:name="com.shenqi.sdk.SQFileProvider"
        android:authorities="${applicationId}.android7.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/shenqi_file_paths" />
    </provider>
    <!-- Guangdiantong -->
    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/gdt_file_path" />
    </provider>


    <!-- Baidu -->
    <provider
        android:name="com.baidu.mobads.openad.FileProvider"
        android:authorities="${applicationId}.bd.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/bd_file_paths" />
    </provider>

    <!-- Mobvista -->
    <provider
        android:name="com.mintegral.msdk.base.utils.MTGFileProvider"
        android:authorities="${applicationId}.mtgFileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/mtg_provider_paths" />
    </provider>

    <!-- UniPlay -->
    <provider
        android:name="com.uniplay.adsdk.UniPlayFileProvider"
        android:authorities="${applicationId}.uniplay.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/uniplay_file_path" />
    </provider>

    <!-- Yoads -->
    <provider
        android:name="com.yomob.yomobads.ad.YomobFileProvider"
        android:authorities="${applicationId}.yomob.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/yomob_paths" />
    </provider>

    <!-- ByteDance -->
    <provider
        android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
        android:authorities="${applicationId}.TTFileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/tt_file_paths" />
    </provider>
    <provider
        android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
        android:authorities="${applicationId}.TTMultiProvider"
        android:exported="false" />

    <!-- OneWay -->
    <provider
        android:name="mobi.oneway.sdk.common.OWProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/ow_file_paths" />
    </provider>

    <provider
        android:name="com.liulishuo.okdownload.OkDownloadProvider"
        android:authorities="${applicationId}.com.liulishuo.okdownload"
        android:exported="false" />

  </application>

  <uses-sdk
      android:minSdkVersion="9"
      android:targetSdkVersion="24" />

  <uses-feature android:glEsVersion="0x00020000" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name= "android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_LOGS" />
  <uses-permission android:name="android.permission.RESTART_PACKAGES" />
  <uses-permission android:name="android.permission.BROADCAST_STICKY" />
  <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
  <uses-permission android:name="android.permission.GET_TASKS" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.WRITE_SETTINGSWAKE_LOCK" />

  <!--SD卡写入数据权限-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!--SD卡创建与删除权限-->
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

  <!--VISIBILITY_HIDDEN表示不显示任何通知栏提示的权限-->
  <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
  <!--DownloadManager-->
  <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
</manifest>